/* Default */
.text_area_bg {
	font-size: 18px;
}

@media (min-width: 768px) {
	.text_area_bg {
		font-size: 28px
	}
}

@media (min-width: 1200px) {
	.text_area_bg {
		font-size: 34px;
	}
}

@media (min-width: 1600px) {
	.text_area_bg {
		font-size: 36px;
	}
}
